---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HorizontalCard from "../../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection("blog");
  return paginate(posts, { pageSize: 5 });
}

const { page } = Astro.props;
---

<BaseLayout title="Blog">
  <ul>
    {
      page.data.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + post.slug}
            target="_self"
            badge={post.data.badge}
          />
        </>
      ))
    }
  </ul>

  <div class="flex justify-between">
    {
      page.url.prev ? (
        <a href={page.url.prev} class="btn btn-ghost my-10 mx-5">
          {" "}
          <svg
            class="h-6 w-6 fill-current md:h-8 md:w-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
          </svg>{" "}
          Recent posts
        </a>
      ) : (
        <div />
      )
    }
    {
      page.url.next ? (
        <a href={page.url.next} class="btn btn-ghost my-10 mx-5">
          Older Posts{" "}
          <svg
            class="h-6 w-6 fill-current md:h-8 md:w-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            {" "}
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
          </svg>
        </a>
      ) : (
        <div />
      )
    }
  </div>
</BaseLayout>

<script>
  import mixpanel from "mixpanel-browser";
  import { createClient } from "@supabase/supabase-js";

  /* ALL THIS DATA IS HANDLED LOCALLY BECAUSE THIS PAGE WON'T 
  ALLOW DATA TO BE IMPORTED FROM RELATIVE PATHS  */
  let MIXPANEL_ID = import.meta.env.PUBLIC_MIXPANEL_ID;
  let SUPABASE_ANALYTICS_TABLE = import.meta.env.PUBLIC_SUPABASE_ANALYTICS_TABLE;
  let CURRENT_DATE = new Date().toLocaleDateString();
  
  const supabaseURL = import.meta.env.PUBLIC_SUPABASE_URL;
  const supabaseKey = import.meta.env.PUBLIC_SUPABASE_KEY;
  const supabaseConn = createClient(supabaseURL, supabaseKey);

  async function insertIntoSupabase(table: String, jsonData) {
    const { error } = await supabaseConn.from(String(table)).insert(
        [jsonData]
      )
  }
    
  window.addEventListener('load', ()=>{
    mixpanel.init(MIXPANEL_ID)
    mixpanel.track("Blog posts page visit")
    const supabaseData = {"date":CURRENT_DATE, "event_type":"Blog posts page visit"};
    insertIntoSupabase(SUPABASE_ANALYTICS_TABLE, supabaseData);
  })

  /* The below import statement and getting all the posts is repeated from above because: 
  - it has to be specified above to be used in the layout
  - but it needs to be accessed in the script tags to attach event listeners
  to the posts */
  import { getCollection } from "astro:content";

  const posts = await getCollection("blog");

  const ids = Array();

  // saving the post ids to an array
  for (let post of posts) {
    ids.push(post.data.title)
  }

  // using the ids stored in the arrayto attach event listeners to the blog posts cards
  for (let id of ids) {
    document.getElementById(id).addEventListener("click", ()=>{
      mixpanel.init(MIXPANEL_ID);
      mixpanel.track(`Blog post "${id}" clicked`, {
        "page": "blog page",
      });
      const supabaseData = {"date":CURRENT_DATE, "event_type":`Blog post "${id}" clicked (blogs page)`};
      insertIntoSupabase(SUPABASE_ANALYTICS_TABLE, supabaseData);
    })
  }

</script>